<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/disease.css">
    <title>Krishimitra</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/images/logo.jpeg" alt="Krishimitra Logo" class="logo">
            <h2>Krishimitra</h2>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cropRecommendation">Crop Recommendation</a></li>
                <li><a href="/disease">Disease Recognition</a></li>
                <li><a href="/">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Disease Detection</h1>
            <p>Upload an image of your crop to detect diseases:</p>
            <form action="/predict" method="POST" enctype="multipart/form-data">
                <label for="diseaseImage" class="upload-label">Choose Image:</label>
                <input type="file" id="diseaseImage" name="diseaseImage" accept="image/*">
                <br>
                <button type="submit" class="btn">Upload</button>
            </form>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 Krishimitra. All rights reserved.</p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
    
    <script>
    document.querySelector("form").addEventListener("submit", async function (e) {
        e.preventDefault();
        const formData = new FormData(this);
    
        try {
            const response = await fetch("/predict", {
                method: "POST",
                body: formData,
            });
    
            const responseData = await response.json(); // Parse the response as JSON
    
            if (response.ok) {
                alert(`Prediction: ${responseData.predicted_class}\nConfidence: ${responseData.confidence}`);
            } else {
                alert(`Error: ${responseData.error}`);
            }
        } catch (err) {
            console.error("Error:", err);
            alert("An error occurred while predicting.");
        }
    });
 </script>    
    
    
</body>
</html>
