<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Krishimitra</title>
    <link rel="stylesheet" href="css/index.css"> 
</head>
<body>

    <header>
        <div class="logo-container">
            <img src="images/logo.jpeg" alt="Krishimitra Logo" class="logo">
            <h2>Krishimitra</h2>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Crop Recommendation</a></li>
                <li><a href="index.html">Disease Recognition</a></li>
                <li><a href="index.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>Welcome to Krishimitra</h1>
            <p>Click here to find out the best crop to grow in your land</p>
            <button class="btn"><a href="./form.html">Click Here</a></button>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Krishimitra. All rights reserved.</p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
</body>
</html>
